
h2 {
  margin-bottom: 25px;
}

h2 span.code {
  font-size: 24pt;
}

h3 {
  margin-bottom: 25px;
}

h4 {
  margin: 20px 0px;
}

pre {
  max-width: 800px;
  font-size: 11pt;
}

.code {
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: 11pt;
  padding: 0 2px;
}

ul {
  margin-bottom: 25px;
}

li {
  margin-left: 20px;
  margin-top: 15px;
}

p {
  font-size: 14pt;
  margin-bottom: 20px;
}

p .code {
  font-size: 13pt;
}

.limited-width {
  max-width: 800px;
}