@import '~styles/breakpoints';

div.page-content {
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  overflow-x: hidden;
  @include respond-to('small') {
    font-size: 2vh;
    padding-top: 1%;
  }
}