@import '~styles/breakpoints';

mat-toolbar {
  margin-bottom: 10%;
  @include respond-to('small') {
    font-size: 14pt;
    margin-bottom: 10px;
  }
  @include respond-to('x-small') {
    font-size: 12pt;
  }
}

form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 100%;
}

span.fieldName {
  font-weight: bold;
}

.error {
  color: red;
}

div.error {
  margin-top: 15px;
}

div.result-cards {
  padding: 25px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include respond-to('medium') {
    flex-direction: column;
  }
}

mat-card {
  margin-right: 25px;
  @include respond-to('medium') {
    margin-right: 2px;
  }
}