<mat-toolbar>
  <span>Ingredient Parser Demo</span>
</mat-toolbar>
<form>
    <mat-form-field class="input-full-width" floatPlaceholder="never">
      <input matInput placeholder="2 cups brown sugar" name="ingredientRaw" [(ngModel)]="ingredientRaw">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="parse(ingredientRaw)" [disabled]="isWaitingForParseResult">Parse</button>
    <button mat-raised-button (click)="reset()">Reset</button>
  </form>
<div *ngIf="isWaitingForParseResult">
    <mat-spinner></mat-spinner>
</div>
<div class="error" *ngIf="error">
  <p>{{ error }}</p>
</div>
<mat-list role="list" *ngIf="!isWaitingForParseResult && parseResult && parseResult.ingredientParsed">
    <mat-list-item role="listitem"><span class="fieldName">Quantity</span>: {{ parseResult.ingredientParsed.quantity }}</mat-list-item>
    <mat-list-item role="listitem"><span class="fieldName">Unit</span>: {{ parseResult.ingredientParsed.unit }}</mat-list-item>
    <mat-list-item role="listitem"><span class="fieldName">Name</span>: {{ parseResult.ingredientParsed.name }}</mat-list-item>
    <mat-list-item role="listitem"><span class="fieldName">Other</span>: {{ parseResult.ingredientParsed.other }}</mat-list-item>
    <mat-list-item role="listitem"><span class="fieldName">Comment</span>: {{ parseResult.ingredientParsed.comment }}</mat-list-item>
  </mat-list>
<mat-list role="list" *ngIf="parseResult">
  <mat-list-item role="listitem"><span class="fieldName">Requests remaining</span>: {{ parseResult.requestsRemaining }}</mat-list-item>
</mat-list>  