@import '~styles/breakpoints';

.fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar.full-size {
  padding-left: 4%;
  height: 73px;
  @include respond-to('small') {
    display: none;
  }
}

mat-toolbar.compressed {
  display: none;
  @include respond-to('small') {
    padding-top: 5px;
    display: block;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  margin-top: 56px;
}

mat-nav-list a {
  font-size: 18pt;
}

.logo-link {
  max-height: 47px;
}

.logo {
  max-height: 47px;
  @include respond-to('small') {
    max-height: 40px;
    vertical-align: middle;
    padding-left: 15px;
  }
}