<mat-toolbar color="primary" class="full-size">
  <a class="logo-link" [routerLink]="['/']">
    <img class="logo" src="assets/img/logo.png" />
  </a>

  <span class="fill-remaining-space"></span>

  <a mat-button [routerLink]="['/about']">About</a>
  <a mat-button [routerLink]="['/demo']">Demo</a>
  <a mat-button [routerLink]="['/pricing']">Pricing</a>
  <a mat-button [routerLink]="['/docs']">Docs</a>
  <a href="https://rapidapi.com/zestfuldata/api/Recipe%20and%20Ingredient%20Analysis" mat-button color="accent">Get Started</a>
</mat-toolbar>

<mat-toolbar color="primary" class="compressed">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
  </button>
  <a [routerLink]="['/']">
    <img class="logo" src="assets/img/logo.png" />
  </a>

  <span class="fill-remaining-space"></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="'dialog'" [mode]="'side'" [opened]="false">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/about']" (click)="drawer.toggle()">About</a>
      <a mat-list-item [routerLink]="['/pricing']" (click)="drawer.toggle()">Pricing</a>
      <a mat-list-item [routerLink]="['/demo']" (click)="drawer.toggle()">Demo</a>
      <a mat-list-item [routerLink]="['/docs']" (click)="drawer.toggle()">Docs</a>
      <a mat-list-item href="https://rapidapi.com/zestfuldata/api/Recipe%20and%20Ingredient%20Analysis" (click)="drawer.toggle()">Get Started</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>