<h1>Developer Demo</h1>
<p>Enter a recipe ingredient below to see how Zestful's ingredient parser works:</p>
<form class="demo-form">
  <mat-form-field class="input-full-width" hideRequiredMarker>
    <input matInput placeholder="Enter ingredient" name="ingredientRaw" [(ngModel)]="ingredientRaw" required>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="parse(ingredientRaw)"
    [disabled]="isWaitingForParseResult || !ingredientRaw">Parse</button>
  <button mat-raised-button (click)="reset()" [disabled]="!ingredientRaw">Reset</button>
</form>
<div *ngIf="!ingredientRaw">
  <p>Or try one of these examples:</p>
  <div class="example-inputs">
    <mat-card class="example-input-card code" *ngFor="let example of exampleInputs" (click)="parseExample(example)">{{
      example }}</mat-card>
  </div>
</div>
<div *ngIf="isWaitingForParseResult" class="top-level">
  <mat-spinner></mat-spinner>
</div>
<div class="error" *ngIf="error" class="top-level">
  <p>{{ error }}</p>
</div>
<div class="result-cards top-level" *ngIf="!isWaitingForParseResult && ingredientParsed">
  <mat-card *ngIf="ingredientParsed.quantity">
    <mat-card-title>{{ ingredientParsed.quantity | number:'1.0-2' }}</mat-card-title>
    <mat-card-subtitle>quantity</mat-card-subtitle>
  </mat-card>
  <mat-card *ngIf="ingredientParsed.unit">
    <mat-card-title>{{ ingredientParsed.unit }}</mat-card-title>
    <mat-card-subtitle>units</mat-card-subtitle>
  </mat-card>
  <mat-card *ngIf="ingredientParsed.productSizeModifier">
    <mat-card-title>{{ ingredientParsed.productSizeModifier }}</mat-card-title>
    <mat-card-subtitle>product size modifier</mat-card-subtitle>
  </mat-card>
  <mat-card *ngIf="ingredientParsed.product">
    <mat-card-title>{{ ingredientParsed.product }}</mat-card-title>
    <mat-card-subtitle>product</mat-card-subtitle>
  </mat-card>
  <mat-card *ngIf="ingredientParsed.preparationNotes">
    <mat-card-title>{{ ingredientParsed.preparationNotes }}</mat-card-title>
    <mat-card-subtitle>preparation instructions</mat-card-subtitle>
  </mat-card>
</div>
<div class="usda-match-cards">
  <mat-card *ngIf="ingredientParsed && ingredientParsed.usdaInfo">
    <mat-card-title>{{ ingredientParsed.usdaInfo.description }}
    </mat-card-title>
    <mat-card-subtitle>USDA match</mat-card-subtitle>
    <mat-card-actions>
      <a href="https://fdc.nal.usda.gov/fdc-app.html#/food-details/{{ ingredientParsed.usdaInfo.fdcId }}/nutrients"
        mat-button>View on USDA
        FoodCentral</a>
    </mat-card-actions>
  </mat-card>
</div>
<mat-card *ngIf="confidence" class="confidence-card">
  <mat-card-title>{{ (confidence * 100.0) | number:'1.1-2' }}%</mat-card-title>
  <mat-card-subtitle>confidence</mat-card-subtitle>
</mat-card>
<div *ngIf="requestsRemaining !== null" class="top-level">
  <span class="fieldName">Requests remaining</span>: {{ requestsRemaining }}
</div>
<div *ngIf="curlExample" class="top-level">
  <div>Or, using
    <span class="code">curl</span>:</div>
  <pre><code highlight [code]="curlExample"></code></pre>
</div>
<div *ngIf="jsExample" class="top-level">
  <div>Or, using JavaScript:</div>
  <pre><code highlight [code]="jsExample"></code></pre>
</div>