@import '~styles/breakpoints';

.example-inputs {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include respond-to('medium') {
    flex-direction: column;
  }
}

.example-input-card {
  margin-right: 30px;
  cursor: pointer;
  background: #8e79c4;
  @include respond-to('medium') {
    flex-direction: column;
    margin: 10px 0;
  }
}

.demo-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 50px 0;
}

.input-full-width {
  width: 100%;
}

span.fieldName {
  font-weight: bold;
}

.error {
  color: red;
}

.code {
  font-family: Consolas, 'Courier New', Courier, monospace;
}

div.top-level {
  margin-top: 15px;
}

button {
  margin-right: 15px;
}

div.result-cards {
  padding: 25px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include respond-to('medium') {
    flex-direction: column;
  }
}

mat-card {
  margin-right: 25px;
  @include respond-to('medium') {
    margin-right: 2px;
  }
}

mat-expansion-panel {
  margin-top: 50px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}