pre {
  font-family: Consolas, 'Courier New', Courier, monospace;
  color: silver;
  background: black;
  max-width: 800px;
  padding: 5px;
  margin: 6px 0px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
}