@import '~styles/breakpoints';

h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  @include respond-to('small') {
    margin-bottom: 10px;
  }
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  @include respond-to('small') {
    display: block;
  }
}

.col {
  flex: 1;
  width: 32%;
  margin-bottom: 50px;
  @include respond-to('small') {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 30px;
  }
}

.flex-graphic {
  border-radius: 15px;
  width: 400px;
  @include respond-to('small') {
    width: 100%;
  }
}

.full-width-content {
  margin: 30px 0px;
}

.quote {
  width: 70%;
  margin: 60px 0px 60px 40px;
  @include respond-to('small') {
    width: 80%;
  }
}

blockquote {
  font-style: italic;
  margin-bottom: 15px;
}

ul {
  margin: 50px;
  font-size: 16pt;
}

.quote-source {
  text-align: right;
}

.quote-source a {
  font-weight: 400;
}