
<h1>Understand your ingredients</h1>
<div class="flex-grid">
  <div class="col">
    <p>The Ingredient Parser API turns plain recipe strings into beautiful, structured data.</p>
  </div>
  <div class="col"><img class="flex-graphic" src="/assets/img/ingredient-translation.png" /></div>
  <div class="col"></div>
</div>

<h2>Use cases</h2>
<div class="flex-grid">
  <div class="col">
    <app-feature-card
      imageUrl="/assets/img/search-icon.png"
      imageAlt="Magnifying glass"
      contents="Make your recipes searchable."></app-feature-card>
  </div>
  <div class="col">
    <app-feature-card
      imageUrl="/assets/img/shopping-cart-icon.png"
      imageAlt="Shopping cart"
      contents="Help customers build shopping lists from your recipes."></app-feature-card>
  </div>
  <div class="col">
      <app-feature-card
        imageUrl="/assets/img/database-icon.png"
        imageAlt="Database icon"
        contents="Build your ingredient database"></app-feature-card>
  </div>
</div>

<h2>Contact</h2>
<p class="full-width-content">
  Questions? Please reach out to <a href="mailto:contact@ingredientparser.com">contact@ingredientparser.com</a>,
  and we'll be happy to assist you.
</p>