<h1>
  Understand your ingredients</h1>
<div class="flex-grid">
  <div class="col">
    <p>Zestful's ingredient parser API turns plain recipe strings into beautiful, structured data.</p>
  </div>
  <div class="col">
    <img class="flex-graphic" src="/assets/img/ingredient-translation.png" />
  </div>
  <div class="col"></div>
</div>

<h2>Helping recipe app developers</h2>


<div class="flex-grid">
  <div class="col">
    <p>Zestful allows developers to better understand the recipes their apps manage.</p>
  </div>
  <div class="col">
    &nbsp;
  </div>
  <div class="col">
    &nbsp;
  </div>
</div>

<div class="flex-grid">
  <div class="col">
    &nbsp;
  </div>
  <div class="col">
    &nbsp;
  </div>
  <div class="col">
    <p>Zestful makes recipe apps smarter about managing ingredients. Zestful transforms ingredients from opaque strings
      to meaningful
      data in easy-to-consume JSON format.</p>
  </div>
</div>

<h2>Use cases</h2>
<div class="flex-grid">
  <div class="col">
    <app-feature-card imageUrl="/assets/img/search-icon.png" imageAlt="Magnifying glass" contents="Make your recipes searchable."></app-feature-card>
  </div>
  <div class="col">
    <app-feature-card imageUrl="/assets/img/shopping-cart-icon.png" imageAlt="Shopping cart" contents="Build shopping lists for your customers."></app-feature-card>
  </div>
  <div class="col">
    <app-feature-card imageUrl="/assets/img/database-icon.png" imageAlt="Database icon" contents="Create an ingredient database."></app-feature-card>
  </div>
</div>

<h2>Contact</h2>
<p class="full-width-content">
  Questions? Please reach out to
  <a href="mailto:michael@zestfuldata.com">michael@zestfuldata.com</a>, and I'll be happy to assist you.
</p>